body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}
.a{
    margin-top: 80px;
    margin-bottom: 300px;
    position: relative;
    width: 400px;
    height: 450px;
    overflow: hidden;
}
.a .b{
    width: 350px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* button */
.btn{
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.btn p{
    position: absolute;
}
.search_btn{
    height: 40px;
    border-radius: 20px;
    justify-content: left;
    margin-bottom: 30px;
}
.search_btn p{
    color: blue;
    padding-left: 20px;
}
.rounded_btn{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rounded_btn:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.rounded_btn p{
    position: absolute;
    color: black;
    font-weight: bold;
}

/* input */
input, textarea{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 0;
    padding: 0;
    outline: 0;
    background-color: transparent;
}
.a input[type="color"]{
    position: absolute;
    width: 100%;
    height: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 0;
}
#header{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 2px;
}
#subheader{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#paragraph{
    resize: none;
    font-size: 1rem;
    text-align: center;
    height: 100px;
    overflow: hidden;
}
#link{
    text-align: center;
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: 30px;
}
#link:hover{
    color: blue;
    cursor: pointer;
}

/* Extra Item Square and Circle */
.item{
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.circle{
    width: 90px;
    height: 90px;
    top: 130px;
    right: -20px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.square{
    width: 20px;
    height: 80px;
    top: 300px;
    left: 10px;
}



/* Edit container */
.edit_container{
    margin-top: 80px;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_color_container{
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
}
.text_color_container select{
    margin-left: 15px;
    outline: none;
}
.text_color_container .text_color{
    margin-left: 30px;
}
.text_color{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.text_color input{
    width: 100%;
    height: 100%;
}
select{
    width: 200px;
    height: 40px;
    appearance: none;
    padding-left: 20px;
    font-size: 1.1rem;
}