body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.code_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
pre.code_html, pre.code_js{
    width: 90%;
    margin: auto;
}
pre.code_css{
    width: 80%;
    margin: auto;
}
pre.code_js{
    width: 60%;
    margin: auto;
}
code *{
    font-size: 0.9rem;
}
button a{
    text-decoration: none;
    color: #fff;
}
/* Header Blur */
header.blur_header{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 246, 219);
}
header.blur_header .background{
    position: absolute;
    width: 500px;
    height: 500px;
}
header.blur_header .background:nth-child(1){
    top: -100px;
    left: -100px;
    background-color: rgb(131, 118, 182);
    border-radius: 54% 46% 72% 28% / 42% 17% 83% 58% ;
    filter: drop-shadow(50px 50px 20px rgb(160, 236, 36)) blur(160px);
}
header.blur_header .background:nth-child(2){
    bottom: -100px;
    right: -100px;
    background-color: rgb(255, 212, 82);
    border-radius: 75% 25% 31% 69% / 79% 60% 40% 21% ;
    filter: drop-shadow(-50px -50px 20px rgb(255, 56, 139)) blur(160px);
}
header.blur_header .title_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
header.blur_header .title_container h1{
    font-size: 4rem;
    color: rgb(84, 74, 125);
}
header.blur_header .rounded_gradiant_sm_btn{
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
    font-size: 1.3rem;
    outline: none;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}
header.blur_header .rounded_gradiant_sm_btn a{
    color: #fff;
}
header.blur_header .rounded_gradiant_sm_btn:hover{
    background-image: linear-gradient(to left, rgb(255, 153, 102), rgb(255, 94, 98));
}
           

header.background_image_header{
    background: url('images/jan-henckens-ZQBpJZGwfKE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
header.background_image_header .wrapper{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
header.background_image_header h1{
    margin: 0;  
    color: #fff;
    font-size: 4rem;
}
header.background_image_header .title_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
header.background_image_header .outline_lg_btn{
    margin-top: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-color: rgb(71, 20, 119);
    font-size: 1.3rem;
    outline: none;
    border: 2px solid rgb(167, 73, 255);
    padding: 15px 20px;
    border-radius: 5px;
}
header.background_image_header .outline_lg_btn a{
    color: #fff;
}
header.background_image_header .outline_lg_btn:hover{
    background-color: rgb(167, 73, 255);
}


header.fashion_header{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}
header.fashion_header .text_background{
    width: 60%;
    height: 100%;
    background-color: #5e0092;
}
header.fashion_header .text_container{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: #e0a6ff;
    z-index: 1;
}
header.fashion_header .text_container h1{
    font-size: 6rem;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #e0a6ff;
    letter-spacing: 7px;
    color: #fff;
}
header.fashion_header .object_container{
    position: relative;
    width: 40%;
    height: 100%;
}
header.fashion_header .object1{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: #563474;
}
header.fashion_header .object2{
    position: absolute;
    bottom: 0;
    right: 200px;
    width: 150px;
    height: 150px;
    background-color: #563474;
    opacity: 0.7;
}
header.fashion_header .img_container{
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    bottom: 100px;
    border: 1px solid #fff;
    padding: 5px;
    left: -50px;
}
header.fashion_header .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rounded_gradiant_lg_btn{
    transition: background-image 0.2s ease-in;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
    margin-top: 20px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}
.rounded_gradiant_lg_btn a{
    color: #fff;
    text-decoration: none;
}
.rounded_gradiant_lg_btn:hover{
    background-image: linear-gradient(to left, rgb(142, 45, 226), rgb(74, 0, 224));
}

header.photo_header{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
header.photo_header .text_wrapper{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
header.photo_header .text_wrapper .text_container{
    padding: 50px;
    border: double #e8a64e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3b3c38;
}
header.photo_header .text_container h1, .text_container h2{
    margin: 0;
}
header.photo_header .text_container h1{
    font-family: 'Pacifico', cursive;
    color: #e8a64e;
    font-size: 6rem;
}
header.photo_header .image_wrapper{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
header.photo_header .bg_lg_btn{
    cursor: pointer;
    background-color: #660077;
    color: #fff;
    font-size: 1.1rem;
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 15px 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    transition: all 0.1s ease-in;
}
header.photo_header .bg_lg_btn:hover{
    background-color: #390142;
}
header.photo_header .image_wrapper .ia, .image_wrapper .ib, .image_wrapper .ic, .image_wrapper .id, .image_wrapper .ie, .image_wrapper .if, .image_wrapper .ig, .image_wrapper .ih{
    position: absolute;
}
header.photo_header .image_wrapper .ia img, .image_wrapper .ib img, .image_wrapper .ic img, .image_wrapper .id img, .image_wrapper .ie img, .image_wrapper .if img, .image_wrapper .ig img, .image_wrapper .ih img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header.photo_header .image_wrapper .ia{
    width: 200px;
    height: 250px;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}
header.photo_header .image_wrapper .ib{
    width: 300px;
    height: 380px;
    top: 0;
    left: 60px;
    clip-path: polygon(51% 0, 100% 0, 65% 100%, 0 51%);
}
header.photo_header .image_wrapper .ic{
    width: 300px;
    height: 200px;
    top: 0;
    left: 300px;
    clip-path: polygon(24% 0, 0 128%, 100% 104%);
}
header.photo_header .image_wrapper .id{
    width: 297px;
    height: 200px;
    top: 0;
    left: 387px;
    clip-path: polygon(100% 0, 0 0, 100% 135%);
}
header.photo_header .image_wrapper .ie{
    width: 314px;
    height: 250px;
    top: 200px;
    left: 0;
    clip-path: polygon(0 28%, 17% 0, 100% 101%, 0% 100%);
}
header.photo_header .image_wrapper .if{
    width: 227px;
    height: 400px;
    top: 208px;
    left: 261px;
    clip-path: polygon(23% 0, 100% 0, 105% 100%, 0 45%);
}
header.photo_header .image_wrapper .ig{
    width: 187px;
    height: 550px;
    top: 208px;
    left: 497px;
}
header.photo_header .image_wrapper .ih{
    width: 489px;
    height: 300px;
    top: 459px;
    left: 0;
    clip-path: polygon(0 0, 66% 0, 132% 100%, 0 100%);
}      
@media only screen and (max-width: 1200px) {
    header.photo_header .text_container h1{
        font-size: 3rem;
    }
    header.photo_header .text_container h2{
        font-size: 1.2rem;
    }
    header.photo_header .text_container{
        width: 50%;
    }
    header.fashion_header .text_container h1{
        font-size: 5rem;
    }
    header.fashion_header .text_container span{
        color: rgb(0, 0, 0);
    }
    header.fashion_header .object1{
        width: 100%;
        height: 50%;
    }
    header.fashion_header .object2{
        right: 0;
        width: 100%;
        height: 50%;
    }
}  
@media only screen and (max-width: 700px) {
    header.photo_header header{
        position: relative;
    }
    header.photo_header .text_wrapper{
        position: static;
        width: 0;
    }
    header.photo_header .text_wrapper .text_container{
        border: double #fff;
    }
    header.photo_header .text_container h1, .text_container h2{
        color: #fff;
    }
    header.photo_header .image_wrapper{
        width: 100%;
    }
    header.photo_header .image_wrapper .dark_wrapper{
        background-color: #e8a64e;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
    }
    header.fashion_header .text_container{
        left: 50%;
        transform: translate(-50%, -50%);
    }
    header.fashion_header .text_container h1{
        font-size: 4rem;
    }
}