body{
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.code_container{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
pre.code_html{
    width: 80%;
    margin: auto;
}
pre.code_css{
    width: 70%;
    margin: auto;
}
code *{
    font-size: 0.9rem;
}
.component_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_1{
    text-align: left;
    width: 70%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-collapse: collapse;
}
.table_1 th{
    font-weight: normal;
    background-color: #5b5c5a;
    color: #fff;
    padding: 15px 10px;
}
.table_1 td{
    background-color: #fff;
    padding: 10px 10px;
}
.table_1 td p{
    margin: 0;
}
.table_more_column{
    display: none;
}

@media only screen and (max-width: 600px) {
    .table_1{
        width: 90%;
        font-size: 0.7rem;
    }
    .table_1 .extra{
        display: none;
    }
    .table_more_column{
        display: block;
    }
    .table_1 span{
        color: #5b5c5a;
    }
}